// メインカラー
$main-color: #fe0000;
$main-color-dark: #a50000;
$main-bg-color: #f5f5f5;
$main-bg-gray: #e1e4ea;
$main-bg-color-dark: #282c34;
$bg-gray-light:#E9E8E9;
$text-color: #282c34;
$border-alpha-light-gray: rgba(40, 44, 52, 0.08);
$border-light-gray: #adadad;
$border-sidebar-gray: #e0dee1;
$border-list-gray: #CECECE;
$bg-footer-panel:#D0D5E0;

//　ボタン
$btn-delete: #000000;

//リンク
$link-light: #fe0000;
$bg-pale-red: #FFF7F7;

//エラー
$error-border: #fe0000;
$error-text: #fe0000;
$error-bg: #ffe0e0;

//　カテゴリーカラー
$color-success: #76c7d0;
$color-warning: #f9af28;
$color-danger: #fe0000;