.login{
  width: 400px;
  margin: 30px auto;
  background: #fff;
  border: 1px solid $border-sidebar-gray;
  padding: 30px;
}

.login input {
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.login .btn {
  width: 152px;
  background: #fe0000;
  border-radius: 8px;
  color: white;
  font-size: 1.6rem;
  line-height: 1.5em;
  padding: 5px 5px 8px;
  margin: 0 5px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  text-align: center;
}

.login .btn:hover {
  opacity: 0.7;
}

.login_btn{
  margin-top: 30px;
  text-align: center;
}

header {
  width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  color: $text-color;
  margin-left: 20px;
}
.header__logo:hover{
  cursor: pointer;
}
.header__logo img {
  height: 18px;
  margin-right: 10px;
}
.header__name {
  font-size: 24px;
  font-weight: bold;
}
.header__login{
  margin-right: 20px;
}
.page-title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-top: 15px;
  i {
    margin-right: 5px;
  }
}
.page-title::after {
  content: "";
  width: 100px;
  height: 7px;
  background: $main-color;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.list-search {
  background: $bg-gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 18px;
}
.list__content {
  background: #fff;
  padding: 20px;
}
.list__table {
  display: table;
  width: 100%;
  border-bottom: 1px solid $border-list-gray;
}
.list__row {
  display: table-row;
}
.list__row .list__col:first-child {
  border-left: 5px solid $border-sidebar-gray;
}
.list__row.status-level2 .list__col:first-child {
  border-left: 5px solid $color-warning;
}
.list__row.status-level3 .list__col:first-child {
  border-left: 5px solid $color-danger;
}
.list__col {
  display: table-cell;
  padding: 10px;
  border-top: 1px solid $border-list-gray;
  font-size: 18px;
  line-height: 1.3;
  a {
    color: $color-success;
    transition: background-color 0.25s;
    padding: 10px;
  }
  a:hover {
    color: $main-color;
  }
}

.list__col a + a {
  margin-left: 15px;
}
.list__title {
  font-weight: bold;
}
.list__title .list__col {
  border: none;
  font-size: 16px;
  padding: 0px 10px 5px;
}
.list__row .list__col:first-child {
  border-left: 5px solid #fff;
}
.list__oparation {
  text-align: center;
}
.list__edit {
  text-align: center;
}
.list-search__input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-search__input input {
  width: 100%;
  max-width: 600px;
}
.list-search .btn {
  width: 152px;
  background: $color-success;
  border-radius: 8px;
  color: white;
  font-size: 1.6rem;
  line-height: 1.5em;
  padding: 5px 5px 8px;
  margin: 0 5px;
  transition: background-color 0.25s;
  text-align: center;

  &:hover {
    background: $link-light;
  }
  &:disabled {
    background: $main-bg-gray;
    color: $border-light-gray;
  }
}

.result-stats__filter .select__wrap {
  font-size: 1.3rem;
  padding: 5px 3em 5px 5px;
  width: auto;
  line-height: 1;
}

.result-stats__filter .select__wrap::before {
  top: 10px;
}

.list-filter {
  display: flex;
}
.list-filter__item {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 10px;
}
.list-filter__item + .list-filter__item {
  border-left: 1px solid $border-light-gray;
  padding-left: 12px;
}
.list-filter__item label {
  margin-right: 8px;
}
.list-filter__item .select__wrap + label {
  margin-left: 8px;
}
.list-filter__item .select__wrap {
  font-size: 13px;
}
.list-filter__item .select__wrap::before {
  right: 5px;
}
.list-filter__item select {
  padding: 3px 24px 3px 6px;
  font-size: 13px;
}
